@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300F;
$orange: #D26A22;
$dark-orange: #bf601f;
$white: #FFFFFF;

$font-cormorant: 'Cormorant', sans-serif; 
$font-jost: 'Jost', sans-serif;

$r_minmob: 320px;
$r_mob360: 360px;
$r_mob400: 400px;
$r_mob500: 500px;
$r_mob600: 600px;
$r_tab: 768px;
$r_desc: 1000px;
$r_desc_hd: 1200px;
$r_desc_1280: 1280px;

html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 0 15px;
    display: flex;
    gap: 5%;
    /*justify-content: space-between;*/
    align-items: center;
    padding-top: 4rem;
    @media (max-width: $r_desc_1280) {
        gap: 3%;
    }
    &__navigation {
        flex-grow: 1;
        margin-left: 5rem;
        @media (max-width: $r_desc_1280) {
            margin-left: 0;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        text-decoration: none;
        font-weight: 500;
        flex-basis: 200px;
        letter-spacing: 0.13rem;
        text-align: right;
        @media (max-width: $r_desc_hd) {
            display: none;
        }
        &:hover {
            color: $orange;
        }
    }
    &__cart-wrap {
        position: relative;
    }
    &__cart {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url('../icons/cart.svg');
        background-repeat: no-repeat;
        background-size: 1.7rem 1.5rem;
        background-position: center center;
        position: relative;
        border: 1px solid $orange;
        cursor: pointer;
        &:hover {
            background-color: $green;
            border-color: $green;
        }
        &:focus {
            outline: none;
        }
    }
    &__counter {
        font-size: .8rem;
        color: $white;
        position: absolute;
        top: .6rem;
        right: .7rem;
    }
    &__buttons {
        display: flex;
        gap: 2rem;
    }
    &__phone, &__menu {
        display: none;
    }
    &__phone {
        border: 1px solid $green;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        background-color: $white;
        background-image: url(../icons/tel.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        transition: .2s;
        @media (max-width: $r_desc_hd) {
            display: block;
        }
        &:hover {
            background-color: $green;
        }
    }
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 12rem;
    height: 3.2rem;
    transition: .2s;
    transform-origin: left;

    &:hover {
        transform: scale(1.1);
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.main, .offer, .about, .trends, .catalog, .shipping, .contact {
    box-sizing: border-box;
}
.main {
    background-image: url(../images/background\ 1\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    height: 1076px;
    overflow-x: clip;
    &__item {
        margin-left: 12rem;
        max-width: 37.8rem;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 5.5rem;
        letter-spacing: 0.13rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__image {
        width: 92%;
        border-radius: 100%;
        animation: shadow 5s infinite;
    }
    &__btn-wrap {
        position: absolute;
        &_1 {
            top: 43px;
            left: 65px;
        }
        &_2 {
            top: 190px;
            right: 75px;
        }
        &_3 {
            bottom: -2px;
            right: 303px; 
        }

    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        color: #27300F;
        position: absolute;
        line-height: 1.5;
        cursor: pointer;
        text-align: left;
        width: max-content;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
            &+.popup {
                display: block;
            }
        }
        &::before {
            content: '';
            border-radius: 100%;
            background-color: $green;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            width: 11px;
            height: 11px;
            position: absolute;
            transition: .2s;
        }
        &_1 {    
            &::before {
                top: 24px;
                right: -36px;
            }
        }
        &_2 {
            &::before {
                top: 20px;
                left: -26px;
            }   
        }
        &_3 {             
            &::before {
                top: -20px;
                left: 17px;    
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.4);
    }
    &__cucumber {
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(50% - 270px);
    }
    &__avocado {
        position: absolute;
        z-index: -1;
        top: 47px;
        right: -21px;
    }
    &__pepper {
        position: absolute;
        z-index: -1;
        top: 398px;
        left: 31px;
    }
    &__beans {
        position: absolute;
        z-index: -1;
        bottom: 153px;
        left: -7px;
    }
    &__tomato {
        position: absolute;
        z-index: -1;
        bottom: 116px;
        right: 114px;
        /*width: 11rem;
        height: 11rem;*/
    }
}
.offer {
    background-image: url(../images/background\ 2\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1047px;
    padding-top: 2rem;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }
}
.slider {
    overflow: hidden;
    padding-top: 85px;
}
.swiper {
    overflow: initial;
    &-slide {
        height: 52rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        box-sizing: border-box;
        padding: 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
            .swiper-slide__hover {
                height: auto;
                transition: 0.3s;
            }
            &::after {
                opacity: .55;
            }
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            color: $green;
            z-index: 1;
        }
        &__hover {
            height: 0;
            overflow: hidden;
            z-index: 1;
        }
        &__text {
            font-size: 16px;
            line-height: 1.5;
            max-width: 280px;
            margin-top: 2.5rem;
            margin-bottom: 0;
            flex-basis: 54px;
        }
        &__link {
            font-weight: 700;
            letter-spacing: .15rem;
            color: #000;
            opacity: .8;
            transition: .3s;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            gap: 20px;
            align-items: center;
            margin-top: 35px;
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background: url(../icons/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
            }
            &:hover {
                opacity: 1;
            }
        }
        &__plus {
            width: 30px;
        }
        &__price {
            font-size: 2.4rem;
            color: $green;
            margin: 3rem 0;
            
        }
        &__add {
            background-color: $orange;
            border: none;
            border-radius: 3.2rem;
            height: 6.4rem;
            padding: 0 5rem;
            color: $white;
            font-size: 1.6rem;
            letter-spacing: 0.13rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: $dark-orange;
            }
        }
        &__cover {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            margin-bottom: 5rem;
        }
        &_white {
            &::after {
                content: '';
                display: block;
                background-color: $white;
                opacity: 0;
                transition: .3s;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position: absolute;
                top: 2px; left: 2px;
                border-radius: 2rem;
            }
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_meat {
            background-image: url(../images/meat.png);
        }
        &__footer {
            display: flex;
            justify-content: space-between;
        }
    }
    &-pagination {
        display: none;
    }
    &-button-prev, &-button-next {
        top: -60px;
        color: rgba($green, .6);
        transition: .2s;
        transform: scale(0.5);
        &:hover {
            color: rgba($green, 1);
        }
    }
    &-button-next {
        right: -7px;
    }
    &-button-prev {
        left: initial;
        right: 74px;
    }
}
.about {
    background-image: url(../images/background\ 3\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 554px;
    padding-top: 4.5rem;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
    }
    &__text {
        max-width: 59rem;
        padding-left: 12.1rem;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 8.5rem;
        font-family: $font-cormorant;
        font-style: italic;
        font-weight: 700;
        font-size: 3rem;
        color: $green;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        &::before {
            content: '';
            display: block;
            border: 1px solid grey;
            border-radius: 50%;
            width: 8.5rem;
            height: 8.5rem;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../icons/fruits.svg);
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../icons/traditional.svg);
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../icons/good.svg);
                background-position: center 45%;
            }
        }
    }
}
.trends {
    background-image: url(../images/background\ 4\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1104px;
    padding-top: 4.8rem;
    &__text {
        margin-top: 4rem;
    }
}
.trends .swiper-slide {
    height: 68.5rem;
}
.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    margin-top: 83px;
    margin-bottom: 0;
    gap: 20px;
    & li {
        flex-basis: 230px;
        text-align: center;
    }
    &__link {
        text-decoration: none;
        display: block;
        border: 1px solid grey;
        padding: 25px 0;
        border-radius: 35px;
        letter-spacing: 0.1rem;
        color: $green;
        &:hover {
            color: $orange;
            border-color: $orange;
        }
    }
}
.catalog {
    background-image: url(../images/background\ 5\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1684px;
    padding-top: 5.7rem;
    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 5rem;
        &__item {
            border: 1px solid grey;
            border-radius: 2rem;
            padding: 3rem 3rem 4rem 3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        &__cover {
            max-height: 209px;
            text-align: center;
        }
        &__image {
            object-fit: scale-down;
            height: 100%;
            width: 100%;
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
            margin-top: 1rem;
        }
        &__description {
            line-height: 1.5;
            max-width: 250px;
            min-height: 4.8rem;
            margin-bottom: 0;
        }
        &__price {
            font-size: 2.4rem;
            margin-top: 1.3rem;
            margin-bottom: 0;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
        }
        &__counter {
            max-width: 30px;
        }
        &__add {
            background-color: $orange;
            border: none;
            border-radius: 3.2rem;
            height: 5.5rem;
            padding: 0 2.5rem;
            color: $white;
            font-size: 1.6rem;
            letter-spacing: 0.13rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: .2s;
            &:hover {
                background-color: $dark-orange;
            }
        }
        & .counter {
            &__input {
                width: 3rem;
            }
            &__btn {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
.shipping {
    background-image: url(../images/background\ 6\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 457px;
    padding-top: .8rem;
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 7.4rem;
    }
    &__text1 {
        padding-left: 12rem;
        max-width: 58rem;
    }
    &__text2 {
        padding-right: 9rem;
        max-width: 50rem;
    }
    &__discount {
        color: $orange;
    }
    &__payment {
        display: flex;
        gap: 30px;
        list-style-type: none;
        padding-left: 0;
        margin-top: 4.5rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
            transition: .3;
        }
    }
}
.payment-link {
    display: block;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 32px;
    opacity: .4;
    transition: .4s;
    &:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}
.payment-item:nth-child(1) a {
    background-image: url(../images/mastercard.png);
    width: 53px;
}
.payment-item:nth-child(2) a {
    background-image: url(../images/visa.png);
    width: 74px;
}
.payment-item:nth-child(3) a {
    background-image: url(../images/paypal.png);
    background-position-y: 90%;
    width: 87px;
}
.bottom-section {
    background-image: url(../images/background\ end.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*height: 1317px;*/
}
.contact {
    padding-top: 6.8rem;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        list-style-type: none;
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin-bottom: 10px;
    }
    &__list-item:nth-child(1) &__link::before {
        background-image: url(../icons/phone.svg);
        height: 26px;
    }
    &__list-item:nth-child(2) &__link::before {
        background-image: url(../icons/mail.svg);
        height: 21px;
    }
    &__link {
        text-decoration: none;
        color: $green;
        &::before {
            content: '';
            display: inline-block;
            width: 29px;
            background-repeat: no-repeat;
            /*background-position-y: center;*/
        }
        display: flex;
        align-items: flex-end;
        gap: 30px;
    }
    &__item {
        max-width: 500px;
    }
    &__text {
        margin-top: 6rem;
        margin-left: 12rem;
    }
}
footer {
    border-top: 1px solid #e2e3df;
    margin-top :16rem;
}
.footer {
    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.7rem;
        margin-top: 7.5rem;
    }
    &__logo {
        flex-basis: 30rem;
        height: 4.7rem;
        margin-top: 1rem;
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        font-size: 1.8rem;
    }
    &__link {
        text-decoration: none;
        color: $green;
        position: relative;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__item:not(:first-child) {
        margin-top: 2.5rem;
    }
    &__tel, &__mail {
        display: block;
        color: $green;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 2.7rem;
    }
    &__mail {
        font-size: 1.8rem;
        margin-top: 3.2rem;
        padding-left: 3px;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.7rem;
        color: rgba($green, .6);
    }
    &__author {
        text-decoration: none;
        color: rgba($green, .6);
        position: relative;
        transition: .2s;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
        &:hover {
            color: rgba($green, 1);
            &::after {
                background-color: $green;
            }
        }
    }
}
.footer-social {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    &__link {
        display: block;
        width: 4.6rem;
        height: 4.6rem;
        border: 2px solid $green;
        border-radius: 50%;
        background-size: 40%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    &__vk {
        background-image: url(../icons/vk.svg);
        background-size: 50%;
        background-position: center 55%;
    }
    &__inst {
        background-image: url(../icons/instagram.svg);
    }
    &__fb {
        background-image: url(../icons/facebook.svg);
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    color: $green;
    line-height: 1;
    margin: 0;
    max-width: 50rem;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            /*display: block;*/
        }
    }
    &_nowrap {
        max-width: initial;
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size_s {
        font-size: 1.8rem;
    }
    &_size_m {
        font-size: 2.4rem;
    }
}
.popup {
    display: none;
    position: absolute;
    top: 65px;
    left: -53px;
    cursor: initial;
    background-color: $white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 7px 32px 8px rgba(71, 90, 67, 0.1);
    max-width: 240px;
    width: 24rem;
    /*padding: 3.2rem 3rem 2.8rem 3rem;*/
    text-align: left;
    &__text {
        margin: 2.2rem 0;
        line-height: 2.4rem;
        flex-basis: 240px;
        &_underline {
            position: relative;
        }
        &_underline::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
    }
    &__image {
        padding: 13px 2px 13px 5px;
        height: 65px;
    }
    &__title {
        font-size: 2.4rem;
        letter-spacing: 0.01rem;
        font-family: $font-cormorant;
        margin: 2.4rem 0 0 3rem;
    }
    &__desc {
        color: rgba($green, .6);
        font-size: 1.4rem;
        /*max-width: 170px;*/
        margin: 5px 2.5rem 0 3rem;
        line-height: 2.2rem;
    }
    &__price {
        margin: 1.3rem 0 2.8rem 3rem;
    }
    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        width: 12px;
        height: 12px;
        background-image: url(../icons/close.svg);
        background-repeat: no-repeat;
        opacity: .8;
        transition: .2s;
        &:hover {
            opacity: 1;
        }
    }
    &_visible {
        display: flex;
        max-width: 280px;
        width: 28rem;
        top: 70px;
        left: initial;
        right: -50px;
        z-index: 10;
        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 10px 15px;
            border-color: $white transparent;
            top: -15px;
            right: 60px;
        }
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.3rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    transition: .2s;
    &:hover {
        background-color: $dark-orange;
    }
}
.counter {
    display: flex;
    align-items: center;
    &__input {
        width: 4.5rem;
        border: none;
        font-size: 2.4rem;
        text-align: center;
    }
    &__btn {
        border: 1px solid rgba($green, .6);
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: .4;
        transition: .2s;
        &:hover {
            opacity: 1;
        }
    }
    &__minus {
        background-image: url(../icons/counter-minus.svg);
    }
    &__plus {
        background-image: url(../icons/counter-plus.svg);
    }
}
.loadmore {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $green;
    display: block;
    margin: 52px auto 0 auto;
    opacity: .8;
    transition: .2s;
    cursor: pointer;
    &::before {
        content: '';
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url(../icons/refresh.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 15px;
        transform: translate(0, 25%);
    }
    &:hover {
        opacity: 1;
    }
}
.card {
    border: 2px solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 3.3rem 5.8rem 4rem;
    flex-basis: 47rem;
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 0;
    }
    &__label {
        font-size: 1.2rem;
        display: block;
        margin-left: 6px;
        margin-bottom: 9px;
    }
    &__input {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        display: block;
        padding: 2.2rem 2rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        &:focus {
            border: 1px solid rgba($green, 1);
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, 0.6);
        line-height: 1.5;
        max-width: 370px;
        margin: 0;
    }
    &__submit {
        color: $white;
        letter-spacing: 0.13rem;
        text-transform: uppercase;
        padding: 2.3rem 4.9rem;
        background-color: $orange;
        box-shadow: 0px 1rem 1.1rem 0.2rem rgb(207 92 13 / 20%);
        text-decoration: none;
        border-radius: 3.8rem;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1.6rem;
        cursor: pointer;
        transition: .2s;
        &:hover {
            background-color: $dark-orange;
        }
    }
    &__link {
        color: rgba($green, 0.6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        transition: .2s;
        &:hover {
            color: rgba($green, 1);
            border-color: $green;
        }
    }
    /*    display: flex;
        flex-direction: column;
        width: 585px;
        height: 500px;
    */
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, 0.4);
    }
    50% {
        box-shadow: 20px 20px 30px 0px rgba($green, 0.4);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, 0.4);
    }
}