@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300F;
$orange: #D26A22;
$dark-orange: #bf601f;
$white: #FFFFFF;

$font-cormorant: 'Cormorant', sans-serif; 
$font-jost: 'Jost', sans-serif;

$r_minmob: 320px;
$r_mob360: 360px;
$r_mob400: 414px;
$r_mob500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desc: 1000px;
$r_desc_1120: 1120px;
$r_desc_hd: 1200px;
$r_desc_1280: 1280px;
$r_desc_1350: 1350px;
$r_desc_1650: 1650px;
$r_desc_1750: 1750px;


html {
    font-size: 10px;
    @media (max-width: $r_mob500) {
        font-size: 8px;
    }
}
body {
    font-size: 1.6rem;
    font-family: $font-jost;
    overflow-x: hidden;
}

.header {
    max-width: 1440px;
    margin: 0 auto 5rem;
    padding: 0 15px;
    display: flex;
    gap: 5%;
    align-items: center;
    padding-top: 4rem;
    @media (max-width: 1350px) {
        gap: 3%;
    }
    @media (max-width: $r_desc_hd) {
        justify-content: space-between;
    }
    @media (max-width: $r_mob500) {
        padding-top: 2.5rem;
        margin-bottom: 3rem;
    }
    &__navigation {
        flex-grow: 1;
        margin-left: 5rem;
        @media (max-width: $r_desc_1280) {
            margin-left: 0;
        }
        @media (max-width: $r_desc_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_desc) {
            display: none;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 4.8rem;
        @media (max-width: $r_desc_hd) {
            gap: 2.8rem;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        color: $green;
        text-decoration: none;
        font-weight: 500;
        flex-basis: 200px;
        letter-spacing: 0.13rem;
        text-align: right;
        @media (max-width: $r_desc_hd) {
            display: none;
        }
        &:hover {
            color: $orange;
        }
    }
    &__cart-wrap {
        position: relative;
    }
    &__button-box {
        display: flex;
        gap: 2rem;
        @media (max-width: $r_mob500) {
            gap: 11px;
        }
    }
    &__button {
        width: 4rem;
        height: 4rem;
        border: 1px solid $green;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $white;
        background-size: 1.7rem 1.5rem;
        opacity: .8;
        transition: .2s;
        @media (max-width: $r_mob500) {
            width: 36px;
            height: 36px;
        }
        &_cart {
            background-image: url(../icons/cart-black.svg);
            cursor: pointer;
            position: relative;
            @media (min-width: 1201px) {
                background-color: $orange;
                border: 1px solid $orange;
                background-image: url('../icons/cart.svg');
                opacity: 1;
                &:hover {
                    background-color: $green;
                    border-color: $green;
                }
            }
            &:focus {
                outline: none;
            }
        }
        &_phone, &_menu {
            display: none;
        }
        &_phone {
            background-image: url(../icons/tel.svg);
            box-sizing: border-box;
            @media (max-width: $r_desc_hd) {
                display: block;
            }
            @media (max-width: $r_mob500) {
                background-size: 1.8rem 1.8rem;
            }
        }
        &_menu {
            background-image: url(../icons/menu.svg);
            cursor: pointer;
            @media (max-width: $r_desc) {
                display: block;
            }
            @media (max-width: $r_mob500) {
                background-size: 2rem 2rem;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
    &__counter {
        font-size: 8px;
        color: $white;
        position: absolute;
        top: .6rem;
        right: .7rem;
        @media (max-width: $r_desc_hd) {
            color: $green;
        }
    }
    /*&__phone {
        background-size: 50% 50%;
    }*/
}
.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 12rem;
    height: 3.2rem;
    transition: .2s;
    transform-origin: left;

    &:hover {
        transform: scale(1.1);
        @media (max-width: $r_mob500) {
            transform: none;
        }
    }
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    @media (max-width: $r_tab) {
        max-width: 600px;
    }
}
.main, .offer, .about, .trends, .catalog, .shipping, .contact {
    box-sizing: border-box;
}
.main {
    background-image: url(../images/background\ 1\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    height: 1076px;
    overflow-x: hidden;
    @media (max-width: $r_desc) {
        height: auto;
        padding-bottom: 3rem;
    }
    @media (max-width: $r_tab) {
        background-image: url(../images/background\ 1\ screen\ mob.png);
    }
    &__text {
        @media (max-width: $r_desc) {
            flex-basis: 400px;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            text-align: center;
        }
    }
    &__item {
        margin-left: 12rem;
        max-width: 37.8rem;
        margin-top: 6rem;
        @media (max-width: $r_desc_1350) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desc) {
            margin-left: initial;
        }
        @media (max-width: $r_tab) {
            margin: 4rem auto 0;
            max-width: initial;
        }
        @media (max-width: $r_mob360) {
            margin-top: 2.3rem;
        }
    }
    &__link {
        margin-top: 5.5rem;
        letter-spacing: 0.13rem;
        @media (max-width: $r_tab) {
            margin: 4rem auto 0;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        width: 763px;
        height: 763px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media (max-width: $r_desc_1350) {
            width: 650px;
            height: 650px;
        }
        @media (max-width: $r_desc_1280) {
            border-color: transparent;
            width: 600px;
        }
        @media (max-width: $r_desc) {
            width: calc(100% - 400px);
            max-width: 500px;
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, 0.4);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (max-width: $r_desc_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desc_1280) {
            border-color: transparent;
            width: 500px;
        }
        @media (max-width: $r_desc) {
            width: initial;
        }
    }
    &__image {
        width: 92%;
        border-radius: 100%;
        animation: shadow 5s infinite;
        &-mobile {
            display: none;
            margin: 3rem auto 0;
            max-width: 300px;
            @media (max-width: $r_tab) {
                display: block;
                
            }
            @media (max-width: $r_mob400) {
                max-width: 220px;
            }
        }
    }
    &__btn-wrap {
        position: absolute;
        &_1 {
            top: 43px;
            left: 65px;
            @media (max-width: $r_desc_1350) {
                top: 18px;
            }
        }
        &_2 {
            top: 190px;
            right: 90px;
            @media (max-width: $r_desc_1350) {
                top: 107px;
            }
        }
        &_3 {
            bottom: 8px;
            right: 303px;
            @media (max-width: $r_desc_1350) {
                bottom: -12px;
            }
        }

    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0;
        color: #27300F;
        position: absolute;
        line-height: 1.5;
        cursor: pointer;
        text-align: left;
        width: max-content;
        @media (max-width: $r_desc_1280) {
            display: none;
        }
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
            }
            &+.popup {
                display: block;
            }
        }
        &:focus {
            outline: none;
        }
        &::before {
            content: '';
            border-radius: 100%;
            background-color: $green;
            box-shadow: 0 0 0 4px $white, 0 0 0 5px $green;
            width: 11px;
            height: 11px;
            position: absolute;
            transition: .2s;
        }
        &_1 {    
            &::before {
                top: 24px;
                right: -11px;
            }
            padding-right: 25px;
        }
        &_2 {
            &::before {
                top: 20px;
                left: -11px;
            }
            padding-left: 15px;
            &+.popup {
                @media (max-width: $r_desc_1650) {
                    left: -160px;
                }
            }
        }
        &_3 {             
            &::before {
                top: -10px;
                left: 17px;    
            }
            padding-top: 10px;
        }
    }
    &__food {
        display: block;
        color: rgba($green, 0.4);
    }
    &__cucumber {
        position: absolute;
        z-index: -1;
        top: 0;
        left: calc(50% - 270px);
        @media (max-width: $r_tab) {
            transform: scale(0.7) rotate(90deg);
            top: 600px;
            left: initial;
            right: -28px;
        }
        @media (max-width: $r_mob400) {
            top: 555px;
        }
        @media (max-width: $r_mob360) {
            top: 454px;
        }
    }
    &__avocado {
        position: absolute;
        z-index: -1;
        top: 47px;
        right: -21px;
        @media (max-width: $r_desc_1750) {
            width: 13rem;
            top: 115px;
        }
        @media (max-width: $r_tab) {
            top: 80px;
            right: -60px;
        }
    }
    &__pepper {
        position: absolute;
        z-index: -1;
        top: 398px;
        left: 31px;
        @media (max-width: $r_desc_1750) {
            display: none;
        }
        @media (max-width: $r_mob500) {
            display: block;
            width: 6rem;
            top: 295px;
            left: 0px;
        }
        @media (max-width: $r_mob360) {
            width: 4rem;
            top: 248px;
            left: -2px;
        }
    }
    &__beans {
        position: absolute;
        z-index: -1;
        bottom: 153px;
        left: -7px;
        @media (max-width: $r_tab) {
            display: none;
        }
        @media (max-width: $r_desc) {
            bottom: -40px;
        }
    }
    &__tomato {
        position: absolute;
        z-index: -1;
        bottom: 116px;
        right: 114px;
        /*width: 11rem;
        height: 11rem;*/
        @media (max-width: $r_desc_1750) {
            right: 50px;
        }
        @media (max-width: $r_desc) {
            transform: scale(0.7) rotate(70deg);
            top: 80px;
            left: -45px;
        }
        @media (max-width: $r_mob400) {
            transform: scale(0.5) rotate(70deg);
            top: 95px;
        }
        @media (max-width: $r_mob360) {
            top: 50px;
        }
    }
}
.offer {
    background-image: url(../images/background\ 2\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1047px;
    padding-top: 2rem;
    @media (max-width: $r_desc) {
        height: 800px;
        background-image: none;
    }
    @media (max-width: $r_tab) {
        height: auto;
    }
    @media (max-width: $r_mob360) {
        height: 497px;
    }
    &__text {
        margin-top: 6rem;
        max-width: 700px;
        @media (max-width: $r_desc) {
            margin: 6rem auto 0;
            text-align: center;
        }
    }
    & .title {
        @media (max-width: $r_desc) {
            margin: 0 auto;
            text-align: center;
        }
    }
}
.slider {
    overflow: hidden;
    padding-top: 85px;
    padding-bottom: 50px;
    @media (max-width: $r_desc_hd) {
        margin: 0 10rem;
    }
    @media (max-width: $r_desc) {
        padding-top: 115px;
    }
    @media (max-width: $r_tab) {
        padding-top: 40px;
    }
    @media (max-width: $r_mob500) {
        margin: 0 calc(50% - 105px);
    }
}
.swiper {
    overflow: initial;
    &-slide {
        &__title {
            font-family: $font-cormorant;
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            color: $green;
            z-index: 1;
            @media (max-width: $r_desc) {
                font-size: 2.4rem;
            }
            @media (max-width: $r_mob500) {
                font-size: 1.75rem;
            }
        }
        &__hover {
            height: 0;
            overflow: hidden;
            z-index: 1;
            @media (max-width: $r_mob500) {
                height: auto;
            }
        }
        &__text {
            font-size: 16px;
            line-height: 1.5;
            max-width: 280px;
            margin-top: 2.5rem;
            margin-bottom: 0;
            flex-basis: 54px;
            @media (max-width: $r_desc) {
                color: rgba($green, 0.4);
                margin-top: 1.5rem;
                max-width: initial;
            }
            @media (max-width: $r_mob500) {
                display: none;
            }
        }
        &__link {
            font-weight: 700;
            letter-spacing: .15rem;
            color: #000;
            opacity: .8;
            transition: .3s;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            gap: 20px;
            align-items: center;
            margin-top: 35px;
            @media (max-width: $r_desc) {
                font-size: 1.5rem;
            }
            @media (max-width: $r_mob500) {
                justify-content: center;
                margin-top: 20px;
                font-size: 1.1rem;
                gap: 1rem;
            }
            &::before {
                content: '';
                display: block;
                width: 3rem;
                height: 3rem;
                background: url(../icons/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                @media (max-width: $r_mob500) {
                    width: 20px;
                    height: 20px;
                }
            }
            &:hover {
                opacity: 1;
            }
        }
        &__plus {
            width: 30px;
        }
        &__price {
            font-size: 2.4rem;
            color: $green;
            margin: 3rem 0;
            @media (max-width: $r_desc) {
                font-size: 2rem;
                margin-top: 1rem;
            }
        }
        &__add {
            background-color: $orange;
            border: none;
            border-radius: 3.2rem;
            height: 6.4rem;
            padding: 0 5rem;
            color: $white;
            font-size: 1.6rem;
            letter-spacing: 0.13rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: .2s;
            @media (max-width: 1450px) {
                padding: 0 3rem;
            }
            @media (max-width: $r_desc_1280) {
                padding: 0 2.5rem;
                font-size: 1.4rem;
            }
            @media (max-width: $r_desc) {
                padding: 0 4rem;
            }
            &:hover {
                background-color: $dark-orange;
            }
        }
        &__cover {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            margin-bottom: 5rem;
            @media (max-width: $r_desc) {
                margin-bottom: 2rem;
            }
        }
        &_white {
            @media (max-width: $r_desc_1280) {
                max-height: 450px;
            }
            @media (max-width: $r_desc) {
                max-height: 400px;
            }
            @media (max-width: $r_mob500) {
                max-height: 240px;
            }
            &::after {
                content: '';
                display: block;
                background-color: $white;
                opacity: 0;
                transition: .3s;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                position: absolute;
                top: 2px; left: 2px;
                border-radius: 2rem;
            }
        }
        &_milk {
            background-image: url(../images/milk.png);
        }
        &_pasta {
            background-image: url(../images/pasta.png);
        }
        &_meat {
            background-image: url(../images/meat.png);
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            @media (max-width: $r_desc) {
                justify-content: center;
            }
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &-button-prev, &-button-next {
        top: -60px;
        color: rgba($green, .6);
        transition: .2s;
        transform: scale(0.5);
        @media (max-width: $r_tab) {
            display: none;       
        }
        &:hover {
            color: rgba($green, 1);
        }
    }
    &-button-next {
        right: -7px;
    }
    &-button-prev {
        left: initial;
        right: 74px;
    }
}
.offer .swiper-slide,
.trends .swiper-slide {
    height: 52rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba($green, 0.4);
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    @media (max-width: $r_desc) {
        text-align: center;
    }
    @media (max-width: $r_tab_900) {
        padding: 3rem 3rem;
    }
    @media (max-width: $r_mob500) {
        height: 240px;
        width: 210px;
        padding: 2rem;
        background-size: auto 170px;
        background-position: 20% 0;
    }
    &_meat {
        @media (max-width: $r_mob500) {
            background-position: right 0;
        }
    }
    &:hover {
        box-shadow: 0 0 0 2px rgba($green, 0.4) inset;
        .swiper-slide__hover {
            height: auto;
            transition: 0.3s;
        }
        &::after {
            opacity: .55;
        }
    }
}
.offer .swiper-slide {
    text-align: left;
    @media (max-width: $r_mob500) {
        text-align: center;
    }
}
.offer .swiper-horizontal>.swiper-pagination-bullets {
    margin-bottom: -50px;
}
.trends .swiper-horizontal>.swiper-pagination-bullets {
    margin-bottom: -50px;
}
.swiper-pagination-bullet-active {
    background-color: $orange;
    border: 1px solid $orange;
}
.about {
    background-image: url(../images/background\ 3\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 554px;
    padding-top: 4.5rem;
    @media (max-width: $r_desc) {
        text-align: center;
        background-image: url(../images/background\ 3\ screen\ mob.png);
    }
    @media (max-width: $r_tab) {
        padding-top: 5rem;
    }
    @media (max-width: $r_mob500) {
        height: 410px;
        background-image: none;
        padding-top: 5rem;
    }
    @media (max-width: $r_mob360) {
        height: 359px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        @media (max-width: $r_desc) {
            flex-direction: column;
            padding-left: 0;
            align-items: center;
        }
    }
    &__text {
        max-width: 59rem;
        padding-left: 12.1rem;
        @media (max-width: $r_desc_1350) {
            max-width: 45rem;
            padding-left: 8rem;
        }
        @media (max-width: $r_desc_1120) {
            max-width: 37.8rem;
            padding-left: 8rem;
        }
        @media (max-width: $r_desc) {
            padding-left: 0;
            max-width: 45rem;
        }
    }
    &__list {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 8.5rem;
        font-family: $font-cormorant;
        font-style: italic;
        font-weight: 700;
        font-size: 3rem;
        color: $green;
        @media (max-width: $r_desc_1650) {
            padding-right: 8rem;
            gap: 6rem;
        }
        @media (max-width: $r_desc_1350) {
            gap: 4rem;
            padding-right: 6rem;
        }
        @media (max-width: $r_desc_1120) {
            gap: 3rem;
            padding-right: 4rem;
        }
        @media (max-width: $r_desc) {
            padding: 0;
        }
        @media (max-width: $r_mob360) {
            gap: 1rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        @media (max-width: $r_desc) {
            transform: scale(0.8);
        }
        &::before {
            content: '';
            display: block;
            border: 1px solid grey;
            border-radius: 50%;
            width: 8.5rem;
            height: 8.5rem;
            background-position: center center;
            background-repeat: no-repeat;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../icons/fruits.svg);
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../icons/traditional.svg);
            }
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../icons/good.svg);
                background-position: center 45%;
            }
        }
    }
    & .title {
        @media (max-width: $r_desc) {
            margin: 0 auto;
        }
    }
}
.trends {
    background-image: url(../images/background\ 4\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1104px;
    padding-top: 4.8rem;
    @media (max-width: $r_desc) {
        height: 890px;
        background-image: none;;
    }
    @media (max-width: $r_mob500) {
        height: 675px;
    }
    @media (max-width: $r_mob500) {
        height: auto;
    }
    &__text {
        margin-top: 4rem;
        @media (max-width: $r_desc) {
            margin: 4rem auto 0;
            text-align: center;
        }
        @media (max-width: $r_mob360) {
            margin-top: 2.4rem;
        }
    }
    & .title {
        @media (max-width: $r_desc) {
            margin: 0 auto;
            text-align: center;
        }
    }
}
.trends .swiper-slide {
    height: 68.5rem;
    @media (max-width: $r_desc_hd) {
        height: auto;
    }
    @media (max-width: $r_mob500) {
        max-height: 300px;
    }
    & img {
        width: 75%;
        object-fit: scale-down;
        max-height: 280px;
        @media (max-width: $r_desc_hd) {
            width: 65%;
        }
        @media (max-width: $r_mob500) {
            max-height: 130px;
        }
    }
}
.category {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 83px;
    margin-bottom: 0;
    gap: 20px;
    @media (max-width: $r_desc) {
        justify-content: center;
    }
    @media (max-width: $r_mob500) {
        //display: none;
        margin-top: 5rem;
        gap: 10px;
    }
    & li {
        flex-basis: 230px;
        text-align: center;
        @media (max-width: $r_tab) {
            flex-basis: 200px;
        }
        @media (max-width: $r_mob500) {
            flex-basis: 108px;
        }
    }
    &__link {
        text-decoration: none;
        display: block;
        border: 1px solid grey;
        padding: 25px 0;
        border-radius: 35px;
        letter-spacing: 0.1rem;
        color: $green;
        @media (max-width: $r_mob500) {
            font-size: 1rem;
            padding: 14px 0;
        }
        &:hover {
            color: $orange;
            border-color: $orange;
        }
    }
    &-slide {
        height: auto;
        border: initial;
        display: inline-block;
        padding: 0;
        width: 108px;
        &:hover {
            box-shadow: none;
            /*.swiper-slide__hover {
                height: auto;
                transition: 0.3s;
            }
            &::after {
                opacity: .55;
            }*/
        }
    }
    &__slide {
        display: inline-block;
        font-size: 1rem;
        letter-spacing: initial;
        text-align: center;
        width: 108px;
        padding: 14px 0;
    }
}
.categorySwiper {
    margin-top: 4.9rem;
}
.categorySwiper .swiper-pagination,
.categorySwiper .swiper-button-next,
.categorySwiper .swiper-button-prev {
    display: none;
}
.catalog {
    background-image: url(../images/background\ 5\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 1684px;
    padding-top: 5.7rem;
    @media (max-width: $r_desc) {
        background-image: none;
    }
    @media (max-width: $r_mob500) {
        height: initial;
        padding-bottom: 50px;
    }
    & .title {
        @media (max-width: $r_desc) {
            margin: 0 auto;
            text-align: center;
        }
    }
    &-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 5rem;
        max-height: 1051px;
        overflow-y: hidden;
        @media (max-width: 1500px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $r_desc_1120) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_desc) {
            max-height: 1015px;
        }
        @media (max-width: $r_desc) {
            max-height: 1007px;
        }
        @media (max-width: $r_tab) {
            max-height: 995px;
        }
        @media (max-width: $r_mob500) {
            gap: 10px;
        }
        &__item {
            border: 1px solid grey;
            border-radius: 2rem;
            padding: 3rem 3rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            @media (max-width: $r_desc) {
                text-align: center;
                align-items: center;
                display: none;
            }
            @media (max-width: $r_tab) {
                padding: 1rem 2rem 3rem;
            }
            @media (max-width: $r_mob360) {
                padding: 1rem 1rem 2rem;
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                display: flex;
            }
        }
        &__cover {
            max-height: 209px;
            text-align: center;
            @media (max-width: $r_mob500) {
                max-height: 100px;
            }
        }
        &__image {
            object-fit: scale-down;
            height: 100%;
            width: 100%;
            @media (max-width: $r_desc) {
                width: 70%;
            }
        }
        &__title {
            font-family: $font-cormorant;
            font-size: 3rem;
            color: $green;
            margin-bottom: 0;
            margin-top: 1rem;
            @media (max-width: $r_tab) {
                font-size: 2rem;
            }
            @media (max-width: $r_mob500) {
                font-size: 1.8rem;
            }
        }
        &__description {
            line-height: 1.5;
            max-width: 250px;
            min-height: 4.8rem;
            margin-bottom: 0;
            @media (max-width: $r_desc) {
                color: rgba($green, 0.4);
            }
            @media (max-width: $r_tab) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob500) {
                font-size: 1.2rem;
            }
        }
        &__price {
            font-size: 2.4rem;
            margin-top: 1.3rem;
            margin-bottom: 0;
            @media (max-width: $r_tab) {
                font-size: 1.8rem;
            }
            @media (max-width: $r_mob500) {
                font-size: 1.5rem;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
            @media (max-width: $r_mob360) {
                margin-top: 2rem;
            }
        }
        &__counter {
            max-width: 30px;
        }
        &__add {
            background-color: $orange;
            border: none;
            border-radius: 3.2rem;
            height: 5.5rem;
            padding: 0 2.5rem;
            color: $white;
            font-size: 1.6rem;
            letter-spacing: 0.13rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: .2s;
            @media (max-width: $r_desc) {
                padding: 0 4rem;
            }
            @media (max-width: $r_mob500) {
                font-size: 1.2rem;
                padding: 0 3rem;
            }
            &:hover {
                background-color: $dark-orange;
            }
        }
        & .counter {
            &__input {
                width: 3rem;
            }
            &__btn {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}
.shipping {
    background-image: url(../images/background\ 6\ screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 457px;
    padding-top: .8rem;
    @media (max-width: $r_desc) {
        text-align: center;
        height: 510px;
        background-image: url(../images/background\ 6\ screen\ \ mob.png);
    }
    @media (max-width: $r_mob500) {
        height: initial;
        padding-bottom: 50px;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 7.4rem;
        @media (max-width: $r_desc) {
            flex-direction: column;
            justify-content: flex-start;
            gap: 3rem;
            align-items: center;
        }
    }
    &__text1 {
        padding-left: 12rem;
        max-width: 58rem;
        @media (max-width: 1450px) {
            max-width: 45rem;
        }
        @media (max-width: $r_desc_1350) {
            padding-left: 8rem;
        }
        @media (max-width: 1100px) {
            max-width: 37.8rem;
        }
        @media (max-width: $r_desc) {
            padding-left: 0;
            max-width: 45rem;
        }
    }
    &__text2 {
        padding-right: 9rem;
        max-width: 50rem;
        @media (max-width: $r_desc_1350) {
            padding-right: 8rem;
        }
        @media (max-width: $r_desc_1280) {
            max-width: 40rem;
            padding-right: 5rem;
        }
        @media (max-width: 1100px) {
            max-width: 30rem;
        }
        @media (max-width: $r_desc) {
            padding-right: 0;
            max-width: 40rem;
        }
    }
    &__discount {
        color: $orange;
    }
    &__payment {
        display: flex;
        gap: 30px;
        list-style-type: none;
        padding-left: 0;
        margin-top: 4.5rem;
        @media (max-width: $r_desc) {
            justify-content: center;
        }
        @media (max-width: $r_mob500) {
            gap: 20px;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
            transition: .3;
        }
    }
}
.payment-link {
    display: block;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 32px;
    opacity: .4;
    transition: .4s;
    @media (max-width: $r_mob500) {
        height: 23px;
        background-size: contain;
    }
    &:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}
.payment-item:nth-child(1) a {
    background-image: url(../icons/mastercard.svg);
    width: 53px;
    @media (max-width: $r_mob500) {
        width: 40px;
    }
}
.payment-item:nth-child(2) a {
    background-image: url(../icons/visa.svg);
    width: 74px;
    @media (max-width: $r_mob500) {
        width: 55px;
    }
}
.payment-item:nth-child(3) a {
    background-image: url(../icons/paypal.svg);
    background-position-y: 90%;
    width: 87px;
    @media (max-width: $r_mob500) {
        width: 63px;
    }
}
.bottom-section {
    background-image: url(../images/background\ end.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*height: 1317px;*/
    @media (max-width: $r_desc) {
        background-image: url(../images/background\ end\ mob.png);
    }
}
.contact {
    padding-top: 6.8rem;
    @media (max-width: $r_mob500) {
        padding-top: 0;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $r_desc) {
            flex-direction: column;
            gap: 10rem;
        }
        @media (max-width: $r_mob500) {
            gap: 6rem;
        }
    }
    &__list {
        list-style-type: none;
        font-size: 2.4rem;
        font-weight: 700;
        margin-top: 6rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
        margin-bottom: 10px;
        @media (max-width: $r_desc_1280) {
            font-size: 2rem;
        }
        @media (max-width: $r_desc) {
            flex-direction: row;
            gap: 50px;
        }
        @media (max-width: $r_tab) {
            font-size: 1.7rem;
        }
        @media (max-width: $r_mob500) {
            justify-content: space-around;
            gap: initial;
        }
        @media (max-width: $r_mob360) {
            justify-content: space-between;
        }
    }
    &__list-item:nth-child(1) &__link::before {
        background-image: url(../icons/phone.svg);
        height: 26px;
        @media (max-width: $r_mob500) {
            width: 18px;
            height: 16px;
        }
    }
    &__list-item:nth-child(2) &__link::before {
        background-image: url(../icons/mail.svg);
        height: 21px;
        @media (max-width: $r_mob500) {
            width: 18px;
            height: 12px;
        }
    }
    &__link {
        text-decoration: none;
        color: $green;
        &::before {
            content: '';
            display: inline-block;
            width: 29px;
            background-repeat: no-repeat;
            @media (max-width: $r_mob500) {
                background-size: cover;
            }
            /*background-position-y: center;*/
        }
        display: flex;
        align-items: flex-end;
        gap: 30px;
        @media (max-width: $r_desc) {
            gap: 20px;            
        }
        @media (max-width: $r_mob500) {
            font-size: 1.5rem;
            gap: 9px;
        }
    }
    &__item {
        max-width: 500px;
        @media (max-width: $r_desc) {
            text-align: center;
        }
    }
    &__text {
        margin-top: 6rem;
        margin-left: 12rem;
        @media (max-width: $r_desc_1350) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desc) {
            margin-left: 0;
        }
    }
}
footer {
    border-top: 1px solid #e2e3df;
    margin-top: 16rem;
    @media (max-width: $r_desc) {
        margin-top: 12rem;
    }
    @media (max-width: $r_mob500) {
        margin-top: 8rem;
    }
}
.footer {
    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.7rem;
        margin-top: 7.5rem;
        @media (max-width: $r_desc) {
            margin-top: 4.5rem;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            text-align: center;
        }
    }
    &__logo {
        flex-basis: 30rem;
        height: 4.7rem;
        margin-top: 1rem;
        @media (max-width: $r_desc_1120) {
            flex-basis: 20rem;
        }
        @media (max-width: $r_desc) {
            flex-basis: initial;
            width: 20rem;
            transform-origin: center;
        }
        @media (max-width: $r_mob500) {
            width: 15rem;
        }
    }
    &__list {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        &:nth-child(2) {
            @media (max-width: $r_desc) {
                flex-direction: row;
                gap: 5rem;
            }
        }
        @media (max-width: $r_mob360) {
            font-size: 1.2rem;
        }
    }
    &__link {
        text-decoration: none;
        color: $green;
        position: relative;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__tel, &__mail {
        display: block;
        color: $green;
        text-decoration: none;
        transition: .2s;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 2.7rem;
    }
    &__mail {
        font-size: 1.8rem;
        margin-top: 3.2rem;
        padding-left: 3px;
    }
    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.7rem;
        color: rgba($green, .6);
        @media (max-width: $r_desc) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 4.5rem;
        }
        @media (max-width: $r_mob360) {
            font-size: 1.2rem;
        }
    }
    &__author {
        text-decoration: none;
        color: rgba($green, .6);
        position: relative;
        transition: .2s;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
        &:hover {
            color: rgba($green, 1);
            &::after {
                background-color: $green;
            }
        }
    }
}
.footer-social {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    &__link {
        display: block;
        width: 4.6rem;
        height: 4.6rem;
        border: 2px solid $green;
        border-radius: 50%;
        background-size: 40%;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    &__vk {
        background-image: url(../icons/vk.svg);
        background-size: 50%;
        background-position: center 55%;
    }
    &__inst {
        background-image: url(../icons/instagram.svg);
    }
    &__fb {
        background-image: url(../icons/facebook.svg);
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    color: $green;
    line-height: 1;
    margin: 0;
    max-width: 50rem;
    @media (max-width: $r_desc_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desc_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        max-width: initial;
    }
    @media (max-width: $r_mob360) {
        font-size: 3.75rem;
    }
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            /*display: block;*/
        }
    }
    &_nowrap {
        max-width: initial;
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size_s {
        font-size: 1.8rem;
        @media (max-width: $r_desc_1280) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.6rem;
        }
    }
    &_size_m {
        font-size: 2.4rem;
        @media (max-width: $r_desc_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.8rem;
        }
    }
}
.popup {
    display: none;
    position: absolute;
    top: 65px;
    left: -53px;
    cursor: initial;
    background-color: $white;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 7px 32px 8px rgba(71, 90, 67, 0.1);
    max-width: 240px;
    width: 24rem;
    /*padding: 3.2rem 3rem 2.8rem 3rem;*/
    text-align: left;
    &__text {
        margin: 2.2rem 0;
        line-height: 2.4rem;
        flex-basis: 240px;
        &_underline {
            position: relative;
        }
        &_underline::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #858881;
            position: absolute;
            left: 0;
            bottom: 3px;
        }
    }
    &__image {
        padding: 13px 2px 13px 5px;
        height: 65px;
    }
    &__title {
        font-size: 2.4rem;
        letter-spacing: 0.01rem;
        font-family: $font-cormorant;
        margin: 2.4rem 0 0 3rem;
    }
    &__desc {
        color: rgba($green, .6);
        font-size: 1.4rem;
        /*max-width: 170px;*/
        margin: 5px 2.5rem 0 3rem;
        line-height: 2.2rem;
    }
    &__price {
        margin: 1.3rem 0 2.8rem 3rem;
    }
    &__close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        width: 12px;
        height: 12px;
        background-image: url(../icons/close.svg);
        background-repeat: no-repeat;
        opacity: .8;
        transition: .2s;
        &:hover {
            opacity: 1;
        }
    }
    &_visible {
        display: flex;
        max-width: 280px;
        width: 28rem;
        top: 70px;
        left: initial;
        right: -50px;
        z-index: 10;
        &::after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 0 10px 15px;
            border-color: $white transparent;
            top: -15px;
            right: 60px;
        }
        @media (max-width: $r_desc_1650) {
            display: none;
        }
    }
}
.link {
    color: $white;
    text-transform: uppercase;
    padding: 2.3rem 4.2rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    transition: .2s;
    @media (max-width: $r_desc_1280) {
        font-size: 1.4rem;
    }
    &:hover {
        background-color: $dark-orange;
    }
}
.counter {
    display: flex;
    align-items: center;
    @media (max-width: $r_desc) {
        display: none;
    }
    &__input {
        width: 4.5rem;
        border: none;
        font-size: 2.4rem;
        text-align: center;
        @media (max-width: $r_desc_1350) {
            font-size: 2.2rem;
        }
    }
    &__btn {
        border: 1px solid rgba($green, .6);
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        opacity: .4;
        transition: .2s;
        @media (max-width: $r_desc_1350) {
            width: 4rem;
            height: 4rem;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__minus {
        background-image: url(../icons/counter-minus.svg);
    }
    &__plus {
        background-image: url(../icons/counter-plus.svg);
    }
}
.loadmore {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: $green;
    display: block;
    margin: 52px auto 0 auto;
    opacity: .8;
    transition: .2s;
    cursor: pointer;
    &::before {
        content: '';
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        background-image: url(../icons/refresh.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 15px;
        transform: translate(0, 25%);
    }
    &:hover {
        opacity: 1;
    }
}
.card {
    border: 2px solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 3.3rem 5.8rem 4rem;
    flex-basis: 47rem;
    @media (max-width: $r_desc_1280) {
        flex-basis: 37rem;
    }
    @media (max-width: $r_desc_1120) {
        padding: 3.3rem 4.8rem 4rem;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        color: $green;
        margin-top: 0;
        @media (max-width: $r_desc) {
            text-align: center;
        }
    }
    &__label {
        font-size: 1.2rem;
        display: block;
        margin-left: 6px;
        margin-bottom: 9px;
    }
    &__input {
        border: 1px solid rgba($green, 0.4);
        border-radius: 2rem;
        display: block;
        padding: 2.2rem 2rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
        width: 100%;
        outline: none;
        @media (max-width: $r_desc_1120) {
            margin-bottom: 1.5rem;
        }
        &:focus {
            border: 1px solid rgba($green, 1);
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, 0.6);
        line-height: 1.5;
        max-width: 370px;
        margin: 0;
        @media (max-width: $r_desc) {
            text-align: center;
        }
    }
    &__submit {
        color: $white;
        letter-spacing: 0.13rem;
        text-transform: uppercase;
        padding: 2.3rem 4.9rem;
        background-color: $orange;
        box-shadow: 0px 1rem 1.1rem 0.2rem rgb(207 92 13 / 20%);
        text-decoration: none;
        border-radius: 3.8rem;
        border: none;
        margin-top: 4rem;
        margin-bottom: 1.6rem;
        cursor: pointer;
        transition: .2s;
        display: block;
        @media (max-width: $r_desc) {
            margin: 4rem auto 1.6rem;
        }
        &:hover {
            background-color: $dark-orange;
        }
    }
    &__link {
        color: rgba($green, 0.6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
        transition: .2s;
        &:hover {
            color: rgba($green, 1);
            border-color: $green;
        }
    }
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 0 0 rgba($green, 0.4);
    }
    50% {
        box-shadow: 20px 20px 30px 0px rgba($green, 0.4);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($green, 0.4);
    }
}